h1 {
	text-align: center;
	padding: 1em 0;
    color:#6A5ACD;
    font-size: 50px;
}

body {
	font-family: 'FontAwesome', sans-serif;
 	color: #5e5e5e;
 	font: 400 87.5%/1.5em 'Open Sans', sans-serif;
 	background: #fdf8d9;
}

table.messagelist {
	border-collapse: separate;
	background-color: #eef;
	width: 600px;
}

td.messageTitle{
	width: 30%;
}

td.userName {
	text-align: center;
}

/*div.dialog {
	display: none;
}

/* «‰^“] */
